@model ERAWeb.Models.ErgoReportModel
@{
    ViewData["Title"] = Model.FirstName + "_" + Model.LastName + "_Ergonomic Report";
    Layout = "~/Views/Shared/_LayoutWithNoContent.cshtml";
    var positionEntries = Model.SittingPosition.Any() ? Model.SittingPosition : Model.StandingPosition;
    var positionText = Model.SittingPosition.Any() ? "Sitting Position" : "Standing Position";
}
<style>
    thead {
        display: table-header-group
    }

    tfoot {
        display: table-row-group
    }

    tr {
        page-break-inside: avoid
    }

    body {
        border: none !important;
        background-color: white !important 
    }
</style>

<div id="ui-view">
    <div>
        <div class="card" style="border:none !important; background-color:white !important">
            <div class="card-body">
                <div class="row mb-3  ml-5 mr-5">
                    <div class="col-xs-1"></div>
                    <div class="col-xs-10">
                        <img src="~/images/information/gijimalogo1.jpg" width="150" height="80" class="ml-3 mb-5" />
                        <a style="float:right; font-weight:bold; font-size:20px">Gijima Occupational Hygiene and Environmental Services</a>
                        <img class="float-right mt-5" src="~/images/information/ergoman2.png" />
                    </div>
                    <div class="col-xs-1"></div>
                </div>
                @*<div class="row mb-2">
                        <div class="col-xs-1"></div>
                        <div class="col-xs-10">
                            <img class="float-right mb-3" src="~/images/information/ergoman2.png" />
                        </div>
                        <div class="col-xs-1"></div>
                    </div>*@
                <div class="row mb-2  ml-5 mr-5">
                    <div class="col-xs-1"></div>
                    <div class="col-xs-10">
                        <h1 style="color: burlywood;">Ergonomics Risk Assessment</h1>
                    </div>
                    <div class="col-xs-1"></div>
                </div>

                <div class="row mb-2  ml-5 mr-5">
                    <div class="col-xs-1"></div>
                    <div class="col-xs-10">
                        <h4 class="mb-3">@Model.AssessmentDate</h4>
                        <div>
                            <h4>
                                First Name: @Model.FirstName
                            </h4>
                        </div>
                        <div>
                            <h4>
                                Last Name: @Model.LastName
                            </h4>
                        </div><div>
                            <h4>
                                Employee Number: @Model.EmployeeNumber
                            </h4>
                        </div><div>
                            <h4>
                                Company Name: @Model.CompanyName
                            </h4>
                        </div><div>
                            <h4>
                                E-mail: @Model.Email
                            </h4>
                        </div>
                    </div>
                    <div class="col-xs-1"></div>
                </div>

                <div class="row mb-2  ml-5 mr-5">
                    <div class="col-xs-1"></div>
                    <div class="col-xs-10">
                        <h1 class="mb-3 text-center">Human Variables</h1>
                    </div>
                    <div class="col-xs-1"></div>
                </div>

                <div class="row mb-3  ml-5 mr-5">
                    <div class="col-xs-8  d-flex justify-content-center">
                        <div class="table-responsive-sm">
                            <table class="table table-bordered table-striped ">
                                <thead>
                                    <tr>
                                        <th class="center">Description</th>
                                        <th class="center">Response</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.HumanVariables)
                                    {
                                        <tr>
                                            <td class="left">@item.Description</td>
                                            <td class="left">@item.Response</td>
                                        </tr>
                                    }
                                    <tr>
                                        <th class="left">Total...</th>
                                        <th class="left"><span>@Model.HumanVariableSummary.Value</span>%</th>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="row mb-2 ml-5 mr-5">
                    <div class="col-xs-1"></div>
                    <div class="col-xs-10">
                        <h1 class="mb-3 text-center">@positionText</h1>
                    </div>
                    <div class="col-xs-1"></div>
                </div>

                <div class="row mb-3 ml-5 mr-5">
                    <div class="col-xs-2"></div>
                    <div class="col-xs-8">
                        <div class="table-responsive-sm">
                            <table class="table table-bordered table-striped ">
                                <thead>
                                    <tr>
                                        <th class="center">Description</th>
                                        <th class="center">Response</th>
                                        <th class="center">Comments</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in positionEntries)
                                    {
                                        var badgeClass = item.IsPositive ? "badge-success" : "badge-danger";
                                        <tr>
                                            <td class="left">@item.Description</td>

                                            @if (string.IsNullOrEmpty(item.ImageFileName))
                                            {
                                                <td><h4 class="text-center"><span class="badge  badge-pill @badgeClass">@item.Response</span></h4></td>
                                            }
                                            else
                                            {
                                                <td><h4 class="text-center"><span class="badge  badge-pill badge-success">@item.Response</span>&nbsp;<a href="~/images/uploadImages/@item.ImageFileName" target="_blank"><i class="fas fa-image"></i></a></h4></td>
                                            }
                                            <td class="left">@item.Comments</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-xs-2"></div>
                </div>

                <div class="row mb-2 ml-5 mr-5">
                    <div class="col-xs-1"></div>
                    <div class="col-xs-10">
                        <h1 class="mb-3 text-center">Computer Position</h1>
                    </div>
                    <div class="col-xs-1"></div>
                </div>

                <div class="row mb-3 ml-5 mr-5">
                    <div class="col-xs-2"></div>
                    <div class="col-xs-8">
                        <div class="table-responsive-sm">
                            <table class="table table-bordered table-striped ">
                                <thead>
                                    <tr>
                                        <th class="center">Description</th>
                                        <th class="center">Response</th>
                                        <th class="center">Comments</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.ComputerPosition)
                                    {
                                        var badgeClass = item.IsPositive ? "badge-success" : "badge-danger";
                                        <tr>
                                            <td class="left">@item.Description</td>

                                            @if (string.IsNullOrEmpty(item.ImageFileName))
                                            {
                                                <td><h4 class="text-center"><span class="badge  badge-pill @badgeClass">@item.Response</span></h4></td>
                                            }
                                            else
                                            {
                                                <td><h4 class="text-center"><span class="badge  badge-pill badge-success">@item.Response</span>&nbsp;<a href="~/images/uploadImages/@item.ImageFileName" target="_blank"><i class="fas fa-image"></i></a></h4></td>
                                            }
                                            <td class="left">@item.Comments</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-xs-2"></div>
                </div>

                <div class="row mb-2 ml-5 mr-5">
                    <div class="col-xs-1"></div>
                    <div class="col-xs-10">
                        <h3 class="mb-3 text-center">Below are the consolidated results for each variable assessed as well as  your overall ergonomics risk score.</h3>
                    </div>
                    <div class="col-xs-1"></div>
                </div>

                <div class="row ml-5 mr-5">
                    <div class="col-xs-1"></div>
                    <div class="col-xs-10">
                        <p style="color:#f63c3a"><strong>*Red, High Risk</strong></p>
                        <p style="color: #d39e00"><strong>*Orange, Moderate Risk</strong></p>
                        <p style="color:#3a9d5d"><strong>*Green, Low Good</strong></p>
                    </div>
                    <div class="col-xs-1"></div>
                </div>

                <div class="row">
                    <table class="table table-clear">
                        <tbody>
                            <tr>
                                <td>
                                    <button aria-pressed="true" class="btn btn-pill btn-block @Model.HumanVariableSummary.Status active" type="button">Human Variables: @Model.HumanVariableSummary.Value%</button>
                                </td>
                                <td>
                                    <button aria-pressed="true" class="btn btn-pill btn-block @Model.PositionSummary.Status active" type="button">Sitting Position: @Model.PositionSummary.Value%</button>
                                </td>
                                <td>
                                    <button aria-pressed="true" class="btn btn-pill btn-block @Model.ComputerPositionSummary.Status active" type="button">Computer Position: @Model.ComputerPositionSummary.Value%</button>
                                </td>                              
                            </tr>                           
                        </tbody>               
                    </table>
                </div>
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                        <table class="table table-clear">
                            <tbody>
                                <tr>
                                    <td>
                                        <button aria-pressed="true" class="btn btn-pill btn-block font-weight-bold font-xl @Model.OverAllSummary.Status active" type="button">OVERALLL ERGONOMICS RISK SCORE: @Model.OverAllSummary.Value%</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
            </div>
        </div>
    </div>
</div>